header.header.js-header
  .container
    .header__inner
      .header__logo.js-logo
        img(src="assets/images/inhtml/Logo.png" alt="logo")
      .nav.js-nav
        a.nav__link.js-nav__link(href="#" data-scroll="#home") home
        a.nav__link.js-nav__link(href="#" data-scroll="#about") about us
        a.nav__link.js-nav__link(href="#" data-scroll="#portfolio") portfolio
        a.nav__link.js-nav__link(href="#" data-scroll="#pricing") pricing
        a.nav__link.js-nav__link(href="#" data-scroll="#team") team
        a.nav__link.js-nav__link(href="#" data-scroll="#blog") blog
        a.nav__link.js-nav__link(href="#" data-scroll="#contacts") contact
      
      button.burger.js-burger
        .burger__item