<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Bino
    link(rel="stylesheet" href="css/libs.min.css")
    link(rel="stylesheet" href="css/main.min.css")

    script(src="https://kit.fontawesome.com/a7d881cf52.js" crossorigin="anonymous")

  body
    .wrapper
      include _header.pug

      .intro.js-intro(id="home" style="background-image: url('assets/images/inhtml/intro-bg.jpg');")
        .container
          .slider.slider--intro.js-slider        
            .slider__item.slider__item--intro
              h2.slider__suptitle.slider__suptitle--intro Our Clients Are Our First Priority
              h1.slider__title.slider__title--intro welcome to bino
              .separator
              p.slider__text.slider__text--intro
                 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
              button.btn(type="button") get started now
              button.btn(type="button") learn more
            .slider__item.slider__item--intro
              h2.slider__suptitle.slider__suptitle--intro Our Clients Are Our First Priority
              h1.slider__title.slider__title--intro second slide
              .separator
              .slider__text.slider__text--intro
                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
              button.btn(type="button") get started now
              button.btn(type="button") learn more
            .slider__item.slider__item--intro
              h2.slider__suptitle.slider__suptitle--intro Our Clients Are Our First Priority
              h1.slider__title.slider__title--intro third slide
              .separator
              .slider__text.slider__text--intro
                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
              button.btn(type="button") get started now
              button.btn(type="button") learn more
            
        .intro__icon.js-anchor     
          img(src="assets/images/icons/anchor.png" alt="anchor")

      .features.animated(data-animate="fadeInUp")
        .container
          .features__inner
            .features__item
              .features__img
              .features__icon(style="background-image: url('assets/images/icons/features-1.png');")
              .features__title sleek design
              .features__text
                span Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
            .features__item
              .features__img
              .features__icon(style="background-image: url('assets/images/icons/features-2.png');")
              .features__title clean code
              .features__text
                span  Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
            .features__item
              .features__img
              .features__icon(style="background-image: url('assets/images/icons/features-3.png');")
              .features__title creative ideas
              .features__text
                span Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
            .features__item
              .features__img
              .features__icon(style="background-image: url('assets/images/icons/features-4.png');")
              .features__title free support
              .features__text
                span Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.

      .section(id="about")
        .container
          .section__inner      
            .section__img.animated(data-animate="fadeInLeft")
              img(src='assets/images/inhtml/monitor.png')
            .section__block.animated(data-animate="fadeInRight")
              h3.title.title--right our history
              .text.text--history
                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ip sum has been the industry's standard dummy text ever since the 1500s, when an unk- nown printer took a galley of type and scrambled it to make a type specimen book.
                p It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus Page Maker including versions of Lorem Ipsum.
              button.btn.btn--red(type="button") browse our work

      .services
        .slider.js-slider-vertical
          .slider__item
            .slider__inner
              .slider__block.animated(data-animate="fadeInLeft")
                a.slider__info(href="#")
                  h4.slider__subtitle first slide
                  p.slider__text Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ip sum has been the industry's standard dummy text ever.
                  .slider__icon
                    img(src="assets/images/icons/services-icon-1.png")
                a.slider__info(href="#")
                  h4.slider__subtitle first slide
                  p.slider__text Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ip sum has been the industry's standard dummy text ever.
                  .slider__icon
                    img(src="assets/images/icons/services-icon-2.png")
                a.slider__info(href="#")
                  h4.slider__subtitle first slide
                  p.slider__text Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ip sum has been the industry's standard dummy text ever.          
                  .slider__icon
                    img(src="assets/images/icons/services-icon-3.png")     
              .slider__img.animated(data-animate="fadeInRight" style="background-image: url('assets/images/inhtml/services-1.jpg');")

          .slider__item
            .slider__inner
              .slider__block.animated(data-animate="fadeInLeft")
                a.slider__info(href="#")
                  h4.slider__subtitle web design 
                  p.slider__text Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ip sum has been the industry's standard dummy text ever.
                  .slider__icon
                    img(src="assets/images/icons/services-icon-1.png")
                a.slider__info(href="#")
                  h4.slider__subtitle PRINT DESIGN
                  p.slider__text Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ip sum has been the industry's standard dummy text ever.
                  .slider__icon
                    img(src="assets/images/icons/services-icon-2.png")
                a.slider__info(href="#")
                  h4.slider__subtitle PHOTOGRAPHY
                  p.slider__text Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ip sum has been the industry's standard dummy text ever.          
                  .slider__icon
                    img(src="assets/images/icons/services-icon-3.png")     
              .slider__img.animated(data-animate="fadeInRight" style="background-image: url('assets/images/inhtml/services-2.jpg');")

          .slider__item
            .slider__inner
              .slider__block.animated(data-animate="fadeInLeft")
                a.slider__info(href="#")
                  h4.slider__subtitle third slide
                  p.slider__text Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ip sum has been the industry's standard dummy text ever.
                  .slider__icon
                    img(src="assets/images/icons/services-icon-1.png")
                a.slider__info(href="#")
                  h4.slider__subtitle third slide
                  p.slider__text Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ip sum has been the industry's standard dummy text ever.
                  .slider__icon
                    img(src="assets/images/icons/services-icon-2.png")
                a.slider__info(href="#")
                  h4.slider__subtitle third slide
                  p.slider__text Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ip sum has been the industry's standard dummy text ever.          
                  .slider__icon
                    img(src="assets/images/icons/services-icon-3.png")     
              .slider__img.animated(data-animate="fadeInRight" style="background-image: url('assets/images/inhtml/services-3.jpg');")

        h3.title.title--left.animated(data-animate="fadeInLeft") our services 

      
      .works.section.animated(data-animate="fadeInUp" id="portfolio")
        .container
          h3.title recent works
          .text
            span it has survived not only five centuries, but also the leap scrambled it to make a type.
          .separator.separator--dark
          .works__menu
            .menu
              a.menu__item(href="#")
                span all
              a.menu__item(href="#")
                span print design
              a.menu__item(href="#")
                span animation
              a.menu__item(href="#")
                span art
              a.menu__item(href="#")
                span web design
              a.menu__item(href="#")
                span photography
              a.menu__item(href="#")
                span video

        .works__inner
          a.works__item(href="#")
            .works__img(style="background-image: url('assets/images/inhtml/works-1.jpg');")
            .works__info
              .works__title
                span web design
              .works__text
                p some awesome website 
          a.works__item(href="#")
            .works__img(style="background-image: url('assets/images/inhtml/works-2.jpg');")
            .works__info
              .works__title
                span t-shirt design
              .works__text
                span art / t-shirt
          a.works__item(href="#")
            .works__img(style="background-image: url('assets/images/inhtml/works-3.jpg');")
            .works__info
              .works__title
                span web design
              .works__text
                span some awesome website
          a.works__item(href="#")
            .works__img(style="background-image: url('assets/images/inhtml/works-4.jpg');")
            .works__info
              .works__title
                span web design
              .works__text
                span some awesome website 
          a.works__item(href="#")
            .works__img(style="background-image: url('assets/images/inhtml/works-5.jpg');")
            .works__info
              .works__title
                span web design
              .works__text
                span some awesome website
          a.works__item(href="#")
            .works__img(style="background-image: url('assets/images/inhtml/works-6.jpg');")
            .works__info
              .works__title
                span web design
              .works__text
                span some awesome website 
          a.works__item(href="#")
            .works__img(style="background-image: url('assets/images/inhtml/works-7.jpg');")
            .works__info
              .works__title
                span web design
              .works__text
                span some awesome website
          a.works__item(href="#")
            .works__img(style="background-image: url('assets/images/inhtml/works-8.jpg');")
            .works__info
              .works__title
                span web design
              .works__text
                span some awesome website 

      .study
        .container
          h3.title.animated(data-animate="fadeInLeft") case study
          .text.animated(data-animate="fadeInLeft")
            span A brief story about how this process works, keep an eye till the end.
          .separator.separator--dark
          .study__inner.animated(data-animate="fadeInRight")
            .study__block
              .study__redsquare
                .study__icon(style="background-image: url('assets/images/icons/lamp.png');")
              h3.study__title aCCUMULATE CREATIVE IDEAS
              .study__text
                p Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry. Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry Printing and typelorem Ipsum has been the setting let. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta corrupti ipsam consequatur officia repellendus. Cumque, nostrum minus ducimus, ipsam natus corporis nam molestias tenetur consequuntur iure itaque, reiciendis quia distinctio!Amet tempore sit dolorem magnam enim. Vitae non, quisquam unde, eligendi corporis expedita dicta veritatis iusto odit consectetur ab, ipsum assumenda modi. Amet veniam quod praesentium quidem odit ab quo.Ad veritatis, eveniet nostrum nemo voluptatum vel, facilis cupiditate ipsa accusantium nihil voluptatem provident reprehenderit mollitia officiis quam. Consectetur corrupti quaerat atque esse debitis, illum saepe earum nulla odio exercitationem?Pariatur labore repellendus id laborum laboriosam nisi deserunt cupiditate quis veritatis aliquid impedit corrupti ad saepe, veniam quia magnam debitis iste dolorem, repudiandae voluptatem quod! Repellat eius velit voluptas distinctio.Optio saepe harum amet dolore facilis praesentium fuga numquam, iusto architecto consequatur at eum perspiciatis odio? Alias tenetur, modi culpa minima a beatae, harum ullam dolorem, quae amet repellendus est.
              button.btn.btn--red.study__inner--btn read more
            .study__img(style="background-image: url('assets/images/inhtml/study.jpg');")

      .stats.animated(data-animate="fadeInRight" style="background-image: url('assets/images/inhtml/achiev.jpg');")     
        .stats__shadow
        .container
          .stats__inner
            a.stats__item(href="#")
              .stats__circle
                .stats__icon(style="background-image: url('assets/images/icons/stats-1.png');") 
              .stats__count 
                span 3891
              .stats__text 
                span user favorits
            a.stats__item(href="#")
              .stats__circle
                .stats__icon(style="background-image: url('assets/images/icons/stats-2.png');") 
              .stats__count 
                span 618
              .stats__text 
                span posts last 24 hours
            a.stats__item(href="#")
              .stats__circle
                .stats__icon(style="background-image: url('assets/images/icons/stats-3.png');") 
              .stats__count 
                span 281k
              .stats__text 
                span total posts
            a.stats__item(href="#")
              .stats__circle
                .stats__icon(style="background-image: url('assets/images/icons/stats-4.png');") 
              .stats__count 
                span 178
              .stats__text 
                span campaigns
            a.stats__item(href="#")
              .stats__circle
                .stats__icon(style="background-image: url('assets/images/icons/stats-5.png');") 
              .stats__count 
                span 285
              .stats__text 
                span amazing features

      .pricing(id="pricing")
        .container
          h3.title.animated(data-animate="fadeInLeft") our pricing
          .text.animated(data-animate="fadeInLeft")
            span A 30 days free trial for all. A brief story about how this process works, keep an eye till the end.
          .separator.separator--dark

          .pricing__inner.animated(data-animate="fadeInRight")
            .pricing__item
              button.btn.btn--grey.pricing__item-btn choose plan              
              .pricing__item-wrapper
                .pricing__title starter
                .pricing__price 
                  span $19
                  span per month
                  //- отдельные классы
                .pricing__feature
                  p Competition Analysis Methods            
                  p All Ranked URLs            
                  p International Support System            
                  p Social Media Tracking              

            .pricing__item
              button.btn.btn--grey.pricing__item-btn choose plan              
              .pricing__item-wrapper
                .pricing__title premium
                .pricing__price 
                  span $39
                  span per month
                  //- отдельные классы
                .pricing__feature
                  p Competition Analysis Methods            
                  p All Ranked URLs            
                  p International Support System            
                  p Social Media Tracking        
            
            .pricing__item
              button.btn.btn--grey.pricing__item-btn choose plan              
              .pricing__item-wrapper
                .pricing__title business
                .pricing__price 
                  span $99
                  span per month
                  //- отдельные классы
                .pricing__feature
                  p Competition Analysis Methods            
                  p All Ranked URLs            
                  p International Support System            
                  p Social Media Tracking             

      .team.animated(data-animate="fadeInLeft" id="team" style="background-image: url('assets/images/inhtml/team-bg.jpg');")    
        .container
            h3.title.title--white our team
            .text.text--white
              span Meet the craziest team. Share your thoughts with them.
            .separator

            .team__inner
              .team__item(href="#")
                .team__photo(style="background-image: url('assets/images/icons/team-1.jpg');")
                .team__info
                  p.name sweet jonsohn 
                  p.position CEO 
              .team__item(href="#")
                .team__photo(style="background-image: url('assets/images/icons/team-2.jpg');")
                .team__info
                  p.name kazi efran 
                  p.position UI/UX Designer
              .team__item(href="#")
                .team__photo(style="background-image: url('assets/images/icons/team-3.jpg');")
                .team__info
                  p.name big smoke
                  p.position Bad motherfucker
              .team__item(href="#")
                .team__photo(style="background-image: url('assets/images/icons/team-4.jpg');")
                .team__info
                  p.name rider
                  p.position Bad motherfucker #2
              .team__item(href="#")
                .team__photo(style="background-image: url('assets/images/icons/team-2.jpg');")
                .team__info
                  p.name OG loc
                  p.position Old School Gangsta

        .team__curve(style="background-image: url('assets/images/inhtml/curve.png');")
      
      .clients.animated(data-animate="fadeInUp")
        .container
          h3.title great integration with others
          .text
            p Suspendisse sed eros mollis, tincidunt felis eget, interdum erat.
            p Nullam sit amet odio eu est aliquet euismod a a urna. Proin eu urna suscipit, dictum quam nec.
          .separator.separator--dark
          .clients__inner
            a(href="#").clients__item
              img.clients__img(src="assets/images/icons/client-1.png" alt="clients")
            a(href="#").clients__item
              img.clients__img(src="assets/images/icons/client-2.png" alt="clients")
            a(href="#").clients__item
              img.clients__img(src="assets/images/icons/client-3.png" alt="clients")
            a(href="#").clients__item
              img.clients__img(src="assets/images/icons/client-4.png" alt="clients")
            a(href="#").clients__item
              img.clients__img(src="assets/images/icons/client-5.png" alt="clients")
            a(href="#").clients__item
              img.clients__img(src="assets/images/icons/client-6.png" alt="clients")
            a(href="#").clients__item
              img.clients__img(src="assets/images/icons/client-7.png" alt="clients")
            a(href="#").clients__item
              img.clients__img(src="assets/images/icons/client-8.png" alt="clients")
            a(href="#").clients__item
              img.clients__img(src="assets/images/icons/client-9.png" alt="clients")
            a(href="#").clients__item
              img.clients__img(src="assets/images/icons/client-10.png" alt="clients")
      
      .blog.animated(data-animate="fadeInUp" id="blog")
        .container
          h3.title our blog
          .text 
            span Suspendisse sed eros mollis, tincidunt felis eget, interdum eratullam sit amet odio.
          .separator.separator--dark
        .blog__inner
          
          .blog__item
            .blog__img(style="background-image: url('assets/images/inhtml/blog-1.jpg');")
            .blog__info
              .blog__suptitle
                span art / t-shirt
              a.blog__title(href="#")            
                span t-shirt design
              .blog__text
                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indu Stry's standard dummy text ever since the 1500s, an unknown printer took a galley of type a scrambled it to make a type specimen book. 
              a.blog__link(href="#")
                span Read More  »
          .blog__item
            .blog__img(style="background-image: url('assets/images/inhtml/blog-2.jpg');")
            .blog__info
              .blog__suptitle
                span art / t-shirt
              a.blog__title(href="#")       
                span t-shirt design
              .blog__text
                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indu Stry's standard dummy text ever since the 1500s, an unknown printer took a galley of type a scrambled it to make a type specimen book.
              a.blog__link(href="#")
                span Read More  »  
          .blog__item
            .blog__img(style="background-image: url('assets/images/inhtml/blog-3.jpg');")
            .blog__info
              .blog__suptitle
                span art / t-shirt
              a.blog__title(href="#")
                span t-shirt design
              .blog__text
                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indu Stry's standard dummy text ever since the 1500s, an unknown printer took a galley of type a scrambled it to make a type specimen book.
              a.blog__link(href="#")
                span Read More  »
          .blog__item
            .blog__img(style="background-image: url('assets/images/inhtml/blog-4.jpg');")
            .blog__info
              .blog__suptitle
                span art / t-shirt
              a.blog__title(href="#")
                span t-shirt design
              .blog__text
                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indu Stry's standard dummy text ever since the 1500s, an unknown printer took a galley of type a scrambled it to make a type specimen book.
              a.blog__link(href="#")
                span Read More  »
          
      
      .contacts(id="contacts")
        .container
          h3.title.animated(data-animate="fadeInLeft")
            span our pricing
          .text.animated(data-animate="fadeInLeft")
            span Nullam sit amet odio eu est aliquet euismod a a urna. Proin eu urna suscipit, dictum quam nec. 
          .separator.separator--dark

          .contacts__inner
            .contacts__info.animated(data-animate="fadeInLeft")
              .contacts__address
                .contacts__title 
                  span our address
                .contacts__text
                  span House #13, Streat road, Sydney 2310 Australia
              .contacts__phone
                .contacts__title
                  span call us
                .contacts__text 
                  p + 880 168 109 1425
                  p + 0216809142
              .contacts__email
                .contacts__title
                  span email us
                .contacts__text
                  span contactus@email.com
            .contacts__form.animated(data-animate="fadeInRight")

              form(action="" method="POST" data-validate)

                label.contacts__item
                  .contacts__label.js-label Name
                  input.contacts__input.js-input(type="text"  name="name" required)

                label.contacts__item
                  .contacts__label.js-label Email
                  input.contacts__input.js-input(type="email" name="email"  required)

                label.contacts__item
                  .contacts__label.js-label Subject
                  input.contacts__input.js-input(type="text" name="subject"  required)
                
                label.contacts__item.contacts__item--textarea
                  .contacts__label.contacts__label--textarea.js-label Message
                  textarea.contacts__input.contacts__input--textarea.js-input(name="message" rows="6"  required)

                button.btn.btn--red.contacts__form--btn(type="submit")
                  span send message

      .trial.animated(data-animate="fadeInUp" style="background-image: url('assets/images/inhtml/trial-bg.jpg');")
        .container
          h3.trial__title
            span Let's Get Started Now.
            span It's FREE!
          .trial__text
            span 30 day free trial. Free plan allows up to 2 projects. Pay if you need more. Cancel anytime. No catches.
          button.btn.btn--red.btn--trial
            span start free trial
      
      footer.footer.animated(data-animate-nooffset data-animate="fadeInUp")
        .container
          .footer__inner
            .footer__social
              a.footer__logo(href="#" target="_blank")
                i.fab.fa-facebook-f
              a.footer__logo(href="#" target="_blank")
                i.fab.fa-twitter
              a.footer__logo(href="#" target="_blank")
                i.fas.fa-rss
              a.footer__logo(href="#" target="_blank")
                i.fab.fa-google-plus-g
              a.footer__logo(href="#" target="_blank")
                i.fab.fa-linkedin-in
              a.footer__logo(href="#" target="_blank")
                i.fab.fa-skype
              a.footer__logo(href="#" target="_blank")
                i.fab.fa-vimeo-v
              a.footer__logo(href="#" target="_blank")
                i.fab.fa-tumblr

            .footer__copyright
              span Kazi Erfan © All Rights Reserved 

      script(src='js/libs.min.js')  
      script(src='js/common.min.js')
    