@font-face {
    font-family: "open"; 
    src: url("../assets/fonts/OpenSans-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 400;
    font-display: swap; 
} 

@font-face {
    font-family: "open"; 
    src: url("../assets/fonts/OpenSans-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 600;
    font-display: swap; 
} 

@font-face {
    font-family: "open"; 
    src: url("../assets/fonts/OpenSans-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 700;
    font-display: swap; 
} 

@font-face {
    font-family: "open"; 
    src: url("../assets/fonts/OpenSans-Regular.ttf") format("truetype"); 
    font-style: italic; 
    font-weight: 400;
    font-display: swap; 
} 

@font-face {
    font-family: "source"; 
    src: url("../assets/fonts/SourceSansPro-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 400; 
    font-display: swap; 
} 

@font-face {
    font-family: "source"; 
    src: url("../assets/fonts/SourceSansPro-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 600; 
    font-display: swap; 
} 

@font-face {
    font-family: "source"; 
        src: url("../assets/fonts/SourceSansPro-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 700; 
    font-display: swap; 
} 

@font-face {
    font-family: "source"; 
        src: url("../assets/fonts/SourceSansPro-Bold.ttf") format("truetype"); 
    font-style: italic; 
    font-weight: 700; 
    font-display: swap; 
} 