@import "_reset.scss";
@import "_fonts.scss";

// Animations 
@keyframes flicker {
    from { transform: scale(.8); 
           opacity: .9;
    } 

      to { transform: scale(1.5); 
           opacity: 0;
    }
}

*, 
*::before,
*::after {
    box-sizing: border-box;
}

 *:focus {
    outline: 0;
} 

body {
    font-family: 'open';
    font-size: 15px;
    font-weight: 400;
    color: #999;    
    line-height: 1;

    @media (max-width: 767px) {
        font-size: 12px;
    }
}

.animated {
    opacity: 0;

    @media(max-width: 1279px) {
        opacity: 1;
        animation: none !important;
    }
}

.wrapper {
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.slick {
    &-arrow {
        display: block;
        position: absolute;
        top: 435px;

        z-index: 1;
        cursor: pointer;
        border: 0;
        background: 0;
        font-size: 0;
        color: transparent;
        font-size: 0;

        height: 46px;
        width: 46px;
        padding: 0;
    }

    &-prev:before,
    &-next:before {
        content: "";
        display: block;
        height: 46px;
        width: 46px;
        border-radius: 2px;

        position: static;
        transform-origin: center;

        background-color: #706b65;
        z-index: 1;

        transition: background-color .3s ease;
    }    
    
    &-prev:after,
    &-next::after {
        content: "";
        display: block;
        width: 14px;
        height: 14px;    

        position: relative;
        z-index: 2;   

        border-top: 2px solid #3c342f;
    }

    &-prev:after {
        border-left: 2px solid #3c342f;  
        
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
       
        transform: rotate(-45deg) translate3d(15px, -15px, 0);
        transform-origin: top left;
    }

    &-next:after {    
        border-right: 2px solid #3c342f;  
        
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
       
        transform: rotate(45deg) translate3d(-15px, -15px, 0);
        transform-origin: top right;
    }

    &-prev {
        left: -333px;    
    }

    &-next {
        right: -333px;
    }

    &-prev:hover.slick-prev:before,
    &-next:hover.slick-next:before {
        background-color: #e74c3c;
    }

    &-dots {
        display: flex;
        flex-direction: column;

        margin: 0;
        padding: 0 0 10px;
        list-style: none;

        position: absolute;
        top: 50%;
        left: 50px;

        transform: translate3d(0, -50%, 0);

        z-index: 3;
    }
    
    &-dots li {
        margin: 10px 0;
    }
    
    &-dots button {
        width: 2px;
        height: 34px;
        border: 0;

        background: #fff; 
        
        padding: 0;
        font-size: 0;
        color: transparent;
        opacity: 1;
        cursor: pointer;
    }

    &-dots button:before {
        content: "";
        display: block;
        width: 20px;
        height: 34px;

        position: absolute;
        left: -20px;
    }

    &-dots button:after {
        content: "";
        display: block;
        width: 20px;
        height: 34px;
    }
    
    &-dots &-active button {
        width: 2px;
        background-color: #e74c3c;
    }

    @media (max-width: 1919px) {
        &-prev {
            left: -45px;
        }

        &-next {
            right: -15px;
        }
    }

    @media (max-width: 1279px) {
        &-prev {
            left: 0;
        }

        &-next {
            right: 26px;
        }
    }   
    
    @media (max-width: 767px) {
        &-arrow {
            display: none !important;
        }

        &-dots {
            right: 20px;
            left: initial;
        }
    }
}

.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: transparent;
    transform: translate3d(0, 0%, 0);
    transition: background-color 0.3s ease 0s,
                transform 0.3s ease 0s;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 0;
    }

    &__logo {
        height: 52px;
        width: 141px;
        cursor: pointer;
    }

    &.fixed {
        height: auto;
        position: fixed;
        background-color: rgba($color: #999, $alpha: 1);
    }
    
    &.hidden {
        transform: translate3d(0, -100%, 0);
    }
    
    &.noanim,
    &.noanim * {
        transition: none !important;
    }
    
    &.fixed .header__inner {
        padding-top: 15px;
        padding-bottom: 15px;
        border-bottom-color: transparent;
    }

    @media (max-width:1279px) {
        &__inner {            
            align-items: flex-start;
        }
    }

    @media (max-width: 767px) {
        &__inner {
            padding: 20px 0 10px;
        }

        &__logo img {
            height: 35px;
        }
    }
}

.nav {
    display: flex;
    text-transform: uppercase;
    font-size: 14px;

    &__link {
        position: relative;
    
        display: inline-block;
        vertical-align: top;
        margin: 0 30px;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
    
        transition: color .3s ease;
    }
    
    &__link:first-child {
        margin-left: 0;
    }
    
    &__link::after {
        position: absolute;
        top: 140%;
        left: 0;
        z-index: 1;
    
        width: 100%;
        height: 3px;
        content: "";
        display: block;
    
        background-color: #e74c3c;
        opacity: 0;
        transition: opacity .3s ease;
    }
    
    &__link:hover::after {
        opacity: 1;
    }
    
    &__link:hover {
        color: #e74c3c;
    }

    @media (min-width: 1280px) {
        display: flex !important;
    }

    @media (max-width: 1279px) {
        display: none;
        width: 100%;
        flex-direction: column;

        background-color: #999;
        text-align: right;
        

        position: absolute;
        right: 0;
        top: 100%;       
        

        &.js-nav-show {
            display: flex;
        }
    
        &__link {
            display: block;
            padding: 9px 15px;
            font-size: 10px;
        }

        &__link:hover:after {
            display: none;
        }
    }
}

.burger {
    display: none;
    background: none;
    border: none;
    cursor: pointer;

    height: 35px;

    

    &__item {
        display: block;
        width: 35px;
        height: 3px;
    
        background-color: #fff;
        border-radius: 2px;
    
        font-size: 0;
        color: transparent;
    
        position: relative;
        // top: -8px;
    
        transition: background-color 0s ease 0.2s;
    }
    
    &__item:before,
    &__item:after {
        content: "";
        height: 100%;
    
        background-color: #fff;
        border-radius: 2px;
    
        position: absolute;
        right: 0;
        z-index: 1;
    }
    
    &__item:before {
        width: 35px;
        top: -14px;
        transition: 
                    top 0.2s ease 0.2s,
                    transform 0.2s ease 0s;
    }
    
    &__item:after {
        width: 35px;
        bottom: -14px;
        transition: 
                    bottom 0.2s ease 0.2s,
                    transform 0.2s ease 0s;
    }
    
    &.is-open &__item {
        background-color: transparent;
        transition: background-color 0s ease 0.4s;
    }
    &.is-open &__item::before {
        top: 0;
        width: 35px;
        transform: rotate(45deg);
        transform-origin: center center;
        transition: 
                    top 0.2s ease 0.2s,
                    transform 0.2s ease 0.4s;
    }
    &.is-open &__item::after {
        bottom: 0;
        width: 35px;
        transform: rotate(-45deg);
        transform-origin: center center;
        transition: 
                    bottom 0.2s ease 0.2s,
                    transform 0.2s ease 0.4s;
    }

    @media (max-width:1279px) {
        display: block;
    }

}

.intro {
    width: 100%;
    min-height: 990px;
    padding-bottom: 225px;
    margin-bottom: 125px;

    display: flex;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;    
    box-shadow: 3000px 3000px rgba(0, 0, 0, 0.6) inset;
    
    position: relative;
    top: 0;
    left: 0;

    border: 0;

    &:before,
    &:after {
        content: "";
        position: absolute;  
        bottom: 0; 

        border-width: 125px;
        border-style: solid;
        border-color: transparent;
    }

    &:before {        
        left: 0;

        border-left-width: 50vw;  
        border-left-color: #fff; 
        border-bottom: none ;   
        border-right: none; 
    }

    &:after {
        right: 0;

        border-right-width: 50vw;  
        border-right-color: #fff; 
        border-bottom: none ;   
        border-left: none; 
    }

    &__icon {
        position: absolute;
        
        display: block;
        width: 64px;
        height: 64px;

        bottom: -32px;
        left: 50%;

        transform: translate3d(-50%, 0, 0);

        z-index: 100;
    }    

    &__icon::before,
    &__icon::after {
        content: "";
        display: block;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-color: #f4f5f9;
        position: absolute;
        top: -3px;
        left: -3px;
        
        z-index: 1;
        
    }

    &__icon::before {
        animation: 3s linear 0s infinite flicker;        
    }

    &__icon::after {  
        animation: 3s linear 1.5s infinite flicker;
    }

    &__icon img {
        position: relative;
        z-index: 2;
    }

    @media (max-width: 1279px) {
            padding-bottom: 150px;
            min-height: 650px;

            &:before, &:after {            
            border-top-width: 50px;
            }
    }

    @media (max-width: 767px) {
        
    }
}

.separator {
    margin: 45px auto;
    height: 7px;
    width: 7px;
    border-radius: 30%;
    background-color: #e74c3c;
    position: relative;

    &::before,
    &::after {
        content: "";

        position: absolute;

        display: inline-block;    
        
        height: 1px;
        width: 80px;
        background-color: #f1ebe7;
    }

    &::before {
        left: -94px;
        top: 3px;
    }

    &::after {
        left: 21px;
        top: 3px;
    }

    &--dark {
        margin: 30px auto 65px;
    }

    &--dark:before,
    &--dark:after {
        background-color: #999;
    }

    @media(max-width: 1279px) {
        margin: 20px auto;
    }
}

.slider {
    margin-top: 10px;

    // SERVICES SLIDER

    &__inner {
        display: flex;
    }

    &__block {
        width: 54.8%;
        min-height: 765px;

        padding: 255px 80px 145px 20.3125%;

        background-color: #202020;         
        position: relative;
        z-index: 2;
    }

    &__img {
        width: 45.4%;
        min-height: 765px;
        
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__info {
        display: block;
        text-decoration: none;
    }

    &__icon {
        position: absolute;
        top: 0;
        right: -116px;


        width: 72px;
        height: 72px;
        border-radius: 50%;
        background-color: #f4f5f9;
        border: 4px solid rgba(88, 88, 88, .75);

        z-index: 4;
        text-align: center;
    }

    &__icon img {
        position: absolute;
        top: 50%;
        left: 50%;

        transform: translate3d(-50%, -50%, 0);
        z-index: 2;
    }

    &__icon::before,
    &__icon::after {
        content: "";
        display: block;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-color: #f4f5f9;
        position: absolute;
        top: -3px;
        left: -3px;
        
        z-index: 1;        
    }

    &__info:hover &__icon::before {
        animation: 3s linear 0s infinite flicker;        
    }

    &__info:hover &__icon::after {  
        animation: 3s linear 1.5s infinite flicker;
    }
    
    &__info {
        margin-bottom: 65px;
        position: relative;
        text-align: right;
    }

    &__info:last-child {
        margin-bottom: 0;
    }

    &__subtitle {
        font-size: 18px;
        color: #e74c3c;
        text-transform: uppercase;
        margin-bottom: 18px;
        text-decoration: none;
    }

    &__text {
        font-family: 'source';
        font-size: 14px;
        color: #999;
        line-height: 1.5em;
        text-align: right;
        text-align: right;
    }

    // INTRO SLIDER

    &--intro {
        width: 100%;
        margin: 0 auto;
        padding-top: 320px;
        position: relative;

        text-align: center;
        z-index: 2;
        color: #f4f5f9;
    }

    &__title--intro {
        font-family: 'open';
        font-weight: 700;
        text-transform: uppercase;
        font-size: 72px;
        line-height: 1;
        letter-spacing: .1em;
    }

    &__suptitle--intro {
        font-family: 'source';
        font-weight: 400;
        font-size: 24px;  
        
        margin-bottom: 45px;
    }

    &__text--intro {
        max-width: 600px;

        font-size: 14px;
        color: #cbc6c0;
        margin: 0 auto 65px;
        line-height: 1.6;
        text-align: center;
    }

    @media (max-width: 1919px) {
        &--intro {
            padding-top: 200px;
        }
    }

    @media (max-width: 1279px) {
        // width: 80%;

        &--intro {
            padding-top: 150px;
        }
        
        &__title {
            font-size: 50px;
            margin-bottom: 20px;
        }

        &__suptitle {
            font-size: 18px;
            margin-bottom: 20px;
        }

        &__img {
            min-height: 500px;
            display: none;
        }

        &__block {
            width: 100%;
            // max-width: 1170px;
            min-height: 500px;
            padding: 100px 140px 50px 100px;
        }

        &__icon {
            right: -120px;
        }

        &__text {
            font-size: 12px;
        }
    }

    @media (max-width: 767px) {
        margin-bottom: 50px;

        &__block {
            padding: 120px 50px 50px 30px;
        }

        &__icon {
            transform: scale(.5);

            left: -20px;
            top: -32px;
        }        

        &__title--intro {
            font-size: 25px;
        }
        
        &__suptitle--intro {
            font-size: 14px;
        }

        &__subtitle {
            padding-left: 45px;
            
        }
    }
}

.btn {
    display: inline-block;
    
    background: transparent;
    border: 1px solid #fff;
    border-radius: 2px;
    cursor: pointer;

    width: auto;
    min-width: 230px;
    padding: 18px 45px;
    margin-right: 30px;

    font-weight: 700;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    line-height: 1;

    z-index: 2;

    transition: background-color .3s ease,
                border .3s ease; 

    &:last-child {
        margin-right: 0;
    }
    
    &:hover {
        background: #e74c3b;
        border: 1px solid #e74c3b;
    }
    
    &--red {
        background: #e74c3b;
        border: 1px solid transparent;
        border-radius: 2px;
        box-shadow: 0px 2px 5px #cecece;
    }
    
    &--red:hover {
        background: transparent;
        color: #e74c3b;
    }
    
    &--grey {
        background-color: #999;
        border: 1px solid #999;
        box-shadow: 0px 2px 5px #cecece;
    }
    
    &--trial {
        box-shadow: 0px 2px 5px #000;
    }
    
    &--trial:hover {
        background-color: #fff;
    }    

    @media (max-width: 1279px) {
        font-size: 12px;

        &--red {
            margin: 0 auto;
        }
    }
    
    @media(max-width: 767px) {
        display: block;
        margin: 0 auto 20px;
        padding: 15px 30px;
        min-width: 180px;

                

        &:last-child {
            margin: 0 auto;
        }
    }

    
}

.features {
    border-bottom: 1px solid #e6e7eb;

    &__inner {
        display: flex;
        justify-content: space-between;
        padding-bottom: 110px;
        margin: 0 -15px;
    }
    
    &__item {
        display: inline-block;
        text-align: center;
        padding: 100px 15px 0;
    
        width: 25%;
    
        position: relative;
    
        cursor: pointer;
    }
    
    &__img {
        height: 71px;
        width: 71px;
        display: block;
    
        position: absolute;
        top: 0;
        left: calc(50% - 35px);
        
        border: 1px solid #e5e5e5;
        background: transparent;
        z-index: 2;
    
        transition: border .3s ease,
                    transform .3s ease;
    }
    
    &__item:hover &__img {
        border: 1px solid #ea6558;
        transform: rotate(45deg);
    
        transform-origin: center center;
    }
    
    &__icon {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    
        height: 71px;
        width: 71px;
    
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
        z-index: 1;
    }
    
    &__title {
        font-weight: 600;
        text-transform: uppercase;
        color: #6a6a6a;
        font-size: 18px;
        line-height: 1;
    
        position: relative;
        margin-bottom: 35px;
        
        transition: color .3s ease;
    }
    
    &__item:hover &__title {
        color: #e74c3c;
    }
    
    &__title::after {
        content: "";
        position: absolute;
        top: 35px;
        left: calc(50% - 20px);
    
        display: block;
    
        width: 41px;
        height: 1px;
        background-color: #888;
    
        box-shadow: 0 1px 0 #e1e1e1;
    }
    
    &__text {
        color: #999;
        font-size: 12px;
        line-height: 1.6;
    }

    @media (max-width: 1279px) {
        &__inner {
            flex-wrap: wrap;
            padding-bottom: 80px;
        }

        &__item {
            width: 50%;
            padding: 100px 30px 60px;
        }
    }

    @media (max-width: 767px) {
        &__inner {
            padding-bottom: 10px;
        }

        &__item {
            width: 100%;
        }
    }
}

.section {
    margin: 140px 0;
    min-height: 410px;
    text-align: center;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__img {
        display: inline-block;
        width: 510px;    
    }

    &__img img {
        max-width: 100%;
    }
    
    &__block {
        display: inline-block;
        width: 50%;
        text-align: left;
    }

    .text p {
        margin-bottom: 35px;
    }
    
    

    @media (max-width: 1279px) {
        &__inner {            
            flex-direction: column;    
            margin: 0 auto;
        }

        &__img {
            width: 510px;
            margin: 0 auto 50px;
        }

        &__block {
            width: 510px;
            margin: 0 auto;
            text-align: justify;
        }        
    }

    @media (max-width: 767px) {
        &__img {
            width: 85%;
        }

        &__block {
            width: 85%;
        }

        &__text {
            // margin-bottom: -5px;
        }
    }
}

.title {
    font-family: 'source';
    font-weight: 700;
    text-transform: uppercase;
    color: #6a6a6a;
    font-size: 36px;
    letter-spacing: .1em;
    text-align: center;

    margin-bottom: 25px;

    position: relative;
    top: 0;
    left: 0;

    &--white {
        color: #fff;
    }

    &--right {
        left: 35px;
        margin-bottom: 40px;
        text-align: left;
    }

    &--left {
        color: #f4f5f9;
        margin: 0 35px 0 0;

        position: absolute;
        top: 150px;
        right: 50%;

        text-align: right;
    }

    &--right:before {
        content: "";
        width: 6px;
        height: 36px;

        position: absolute;
        top: 0;
        left: -35px;

        background-color: #e74c3c;
    }

    &--left:before {
        content: "";
        width: 6px;
        height: 36px;

        position: absolute;
        top: 0;
        left: calc(100% + 30px);

        background-color: #e74c3c;

        z-index: 2;
    }

    @media (max-width: 1279px) {
        font-size: 30px;

        &--left {
            top: 25px;
            right: calc(20% + 140px);
        }
    }

    @media (max-width: 767px) {
        font-size: 25px;

        &--left {
            right: 20%;
            top: 25px;
        }
    }
}

.text {    
    font-family: 'source';
    font-size: 14px;
    line-height: 2;
    text-align: center;
    margin-bottom: 35px;

    &--white {
        color: #fff;
    }

    &--history {
        text-align: left;
    }

    @media (max-width: 767px) {

    }
}

.services {
    
    position: relative;
}

.works {
    display: block;

    &.section {
        margin-bottom: 0;
    }

    & .slider__text--intro {
        margin-bottom: 30px;
    }

    &__inner {
        display: flex;
        margin-top: 50px;
        flex-wrap: wrap;
    }
    
    &__item {
        background-color: #ec7063;
        position: relative;
        color: #fff;
    
        width: 25%;   
        min-height: 25vw;        
    }
    
    &__img {   
        width: 100%;
        height: 100%;
        
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;  
        opacity: 1;
        
        transition: opacity .3s ease;
    }
    
    &__item:hover &__img {
        opacity: 0.2;
    }
    
    &__item:hover &__info {
        opacity: 1;
    }
    
    &__info {
        position: absolute;
        bottom: 45px;
        left: 10%;

        max-width: 50%;

        opacity: 0;
        transition: opacity .3s ease;
    }
    
    &__title {
        font-family: 'source';
        font-size: 24px;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: .1em;
        line-height: 1;
        margin-bottom: 18px;
    }
    
    &__title:after {
        content: "";
        display: block;
        position: relative;
        top: -55px;  
        left: 0;
    
        width: 44px;
        height: 4px;
    
        background-color: #fff;
    }
    
    &__text {
        font-size: 14px;
        line-height: 1;
        text-align: left;
    }

    @media (max-width: 1279px) {
        &__item {
            width: 50%;
            height: 50vw;
        }

        &__title {
            font-size: 20px;
        }

        &__text {
            font-size: 12px;
        }
    }

    @media (max-width: 767px) {
        &__item {
            width: 100%;
            height: 100vw;
        }
    }
}

.menu {
    font-size: 14px;
    color: #999;
    text-transform: uppercase;

    &__item  {
        display: inline-block;
        position: relative;
        margin-left: 15px;
    
        cursor: pointer;
        text-decoration: none;
        font-size: 14px;
        color: #999;
    
        transition: color .3s ease;
    }
    
    &__item:hover {
        color: #e74c3c;
    }
    
    &__item:after {
        content: "/";
        margin-left: 15px;
    }
    
    &__item:hover::after {
        color: #999;
    }
    
    &__item:last-child::after {
        display: none;
    }
    
    &__item:last-child::after {
        margin-left: 0;
    }

    @media(max-width: 767px) {
        &__item {
            font-size: 10px;
        }
    }
}

.study {
    background-color: #f4f5f9;
    padding: 150px 0;


    &__inner {
        display: flex;
        align-items: center;
        position: relative;
    }
    
    &__img {
        width: 50%;
        height: 725px;
    
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        top: 0;
        left: 50%;
    }
    
    &__block {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate3d(0, -50%, 0);
    
        width: 665px;
        min-height: 630px;
        max-height: 100%;
        padding: 80px 65px 115px;
        background-color: #fff;
        z-index: 2;
    
        text-align: center;
    
        box-shadow: 1px 0px 7px #dedfe3;
    }
    
    &__redsquare {
        display: block;
        height: 90px;
        width: 90px;
        transform: rotate(45deg);
        transform-origin: center center;
    
        background-color: #e74c3c;
        border: 1px solid #e74c3c;
        
        margin: 0 auto 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    &__icon {
        height: 35px;
        width: 35px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    
        transform: rotate(-45deg); 
    }
    
    &__title {
        font-weight: 600;
        text-transform: uppercase;
        font-size: 18px;
        letter-spacing: .1em;
        color: #6a6a6a;
        position: relative;
    
        margin-bottom: 25px;
    }
    
    &__title:after {
        content: "";
        margin: 25px auto 0;
    
        display: block;
    
        width: 41px;
        height: 1px;
        background-color: #888;
    
        box-shadow: 0 1px 0 #e1e1e1;
    }
    
    &__text {
        max-height: 95px;
        overflow: hidden;

        font-family: 'source';
        font-weight: 400;
        font-size: 14px;
        color: #999;
        line-height: 1.7;
    
        margin-bottom: 50px;
    }

    @media (max-width: 1279px) {
        &__img {
            width: 100%;
            left: 0;
        }

        &__block {
            width: 80%;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);

            padding: 20px 20px 30px;
            background-color: rgba($color: #fff, $alpha: .8);
        }

        &__text {
            color: #061015;
        }

        &__title {
            margin-bottom: 20px;
        }

        &__title:after {
            margin: 20px auto 0;
        }
    }

    @media (max-width: 767px) {
        padding: 70px 0;
        
        &__block {
            width: 90%;
            padding: 20px 20px 30px;
        }

        &__text {
            max-height: 300px;
            overflow: hidden;
        }

        &__inner--btn {
            position: absolute;
            left: 50%;
            transform: translate3d(-50%, 0, 0);
        }        

        &__redsquare {
            width: 40px;
            height: 40px;
        }

        &__icon {
            width: 18px;
            height: 18px;
        }
    }
}

.stats {
    min-height: 520px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
    padding-top: 155px;

    margin-bottom: 150px;

    &__shadow {
        width: 100%;
        height: 100%; 
    
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #061015;
        opacity: .3;
    
        z-index: 1;
    }
    
    &__inner {
        display: flex;
        position: relative;
        z-index: 2;
    
        justify-content: center;
        flex-wrap: wrap;
    
        margin: 0 -71px;
    }
    
    &__item {
        text-align: center;
        font-family: 'source';
    
        cursor: pointer;
        text-decoration: none;
    
        display: flex;
        flex-direction: column;
        align-items: center;

        margin: 0 70px 140px;
    }
    
    &__circle {
        height: 110px;
        width: 110px;
        border: 1px solid #fff;
        border-radius: 50%;    
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        margin-bottom: 50px;
        transition: background-color .3s ease;
    }
    
    &__icon {
        width: 33px;
        height: 33px;
    
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    
    &__count {    
        font-weight: 700;
        color: #fff;
        font-size: 30px;
    
        margin-bottom: 15px;
        text-transform: uppercase;
    }
    
    &__text {
        font-weight: 400;
        font-size: 18px;
        color: #fff;
        text-transform: capitalize;
    }
    
    &__item:hover &__circle {
        background-color: #e74c3c;
    }

    @media (max-width: 767px) {
        padding-top: 70px;
        margin-bottom: 70px;

        &__inner {
            margin: 0;
            width: 100%;
        }

        &__item {
            width: 100%;
            margin: 0 0 70px;
        }

        &__circle {
            width: 70px;
            height: 70px;

            margin-bottom: 25px;
        }

        &__icon {
            width: 20px;
            height: 20px;
        }
    }
}

.pricing {
    margin-bottom: 140px;

    &__inner {
        display: flex;
        justify-content: space-between;
    }
    
    &__item {
        display: inline-block;
        width: 32.479%;
    
        text-align: center;
    
        background-color: #f4f5f9;
        color: #999;
    
        padding-bottom: 102px;

        position: relative;
    }

    &__item-btn {
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translate3d(-50%, 0, 0);
    }

    
    &__title {
        font-family: "open";
        font-weight: 600;
        font-size: 24px;
        letter-spacing: .075em;
        color: #fff;
        text-transform: uppercase;
    
        width: 100%;
        height: 205px;
    
        padding: 48px 30px 135px;
    
        background-color: #999;
        transition: background-color .3s ease;
    }
    
    &__price {
        width: 155px;
        height: 155px;
        border-radius: 50%;
        margin: 0 auto;
    
        position: relative;
        top: -77px;
    
        padding: 50px 0;
    
        background-color: #fff;
    }
    
    &__price span {
        display: block;
        margin: auto 0;
    
        font-size: 14px;
    }
    
    &__price span:first-child {
        font-family: "source";
        font-weight: 700;
        font-size: 40px;
    }
    
    &__feature {
        font-family: "open";
        font-weight: 600;
        font-size: 14px;

        margin-bottom: 50px;
    }
    
    &__feature p {
        display: block;
        margin-bottom: 25px;
    }

    @media (max-width: 1279px) {
        

        &__feature p {
            margin-bottom: 20px;
        }
    }

    @media (min-width: 768px) {
        &__item-btn:hover + &__item-wrapper &__title {
            background-color: #e74c3c;
        }
    }

    @media (max-width: 767px) {
        &__inner {
            justify-content: start;
            overflow: auto;

            margin: 0 -15px;
            padding: 0 10px;

            display: block;
            white-space: nowrap;
        }

        &__item {
            display: inline-block;
            width: 300px;

            flex-shrink: 0;
            white-space: normal;
            margin: 0 5px;
        }

        &__title {
            height: 140px;
            padding: 24px 15px 40px;
        }       

        &__item-btn:focus + &__item-wrapper &__title {
            background-color: #e74c3c;
        }
    }
}

.team {
    width: 100%;
    min-height: 745px;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;

    overflow: hidden;
    padding: 150px 0;
    box-shadow: 3000px 3000px rgba(0, 0, 0, 0.75) inset;

    &__curve {
        position: absolute;
        z-index: 2;
        top: 50px;
        left: 0;
    
        width: 100%;
        height: 100%;
    
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 3;
    }

    &__item {
        position: relative;
        text-decoration: none;
    }

    &__photo {
        width: 56px;
        height: 56px;
        border-radius: 50%;
        background-color: #e74c3c;
        border: 3px solid #e74c3c;

        background-position: top center;
        background-repeat: no-repeat;
        background-size: 100%;
        text-decoration: none;
        cursor: pointer;

        transition: transform .3s ease;
    }

    &__photo:hover {
        transform: scale(1.5, 1.5);
        box-shadow: 0 2px 7px 4px #000;
    }

    &__info {
        visibility: hidden;
        opacity: 0;

        width: 250px;
        position: absolute;
        top: 150px;
        left: 50%;
        transform: translate3d(-50%, 0, 0);

        text-align: center;    
        transition: visibility .3s ease,
                    opacity .3s ease ;
    }

    &__photo:hover + &__info {
        visibility: visible;
        opacity: 1;
    }

    &__item:nth-child(1) {
        top: 108px;
    }
    &__item:nth-child(2) {
        top: 59px;
    }
    &__item:nth-child(3) {
        top: 59px;
    }
    &__item:nth-child(4) {
        top: 95px;
    }
    &__item:nth-child(5) {
        top: 75px;
    }    

    &__info .name {
        font-weight: 600;
        font-size: 24px;
        letter-spacing: .075em;
        color: #e74c3c;
        text-transform: capitalize;
        margin-bottom: 19px;
    }

    &__info .position {
        font-family: 'source';
        font-size: 14px;
        color: #fff;
        font-weight: 400;
    }

    &__info:before {
        content: "";
        display: block;
        position: absolute;
        top: -80px;
        left: 50%;

        width: 2px;
        height: 50px;

        background-color: #fff;
    }

    @media (max-width: 1350px) {
        &__inner {
            width: 80%;
            margin: 0 auto;
        }

        &__item:nth-child(1) {
            top: 85px !important;            
        }
       
        &__item:nth-child(5) {
            top: 95px !important;
        }

        & .separator {
            margin: 45px auto;
        }
    }

    @media (max-width: 1100px) {
        &__item:nth-child(1) {
            top: 75px !important;            
        }

        &__item:nth-child(5) {
            top: 105px !important;
        }

        &__info .name {
            font-size: 18px;
        }

        &__info .position {
            font-size: 12px;
        }
    }

    @media (max-width: 950px) {
        &__item:nth-child(1) {
            top: 65px !important;            
        }

        &__item:nth-child(4) {
            top: 90px !important;
        }
    }

    @media (max-width: 767px) {
        padding: 50px 0;

        &__curve {
            display: none;
        }

        &__inner {
            max-width: 70%;
            margin: 0 10vw 0 5vw;
            
            display: flex;
            flex-direction: column;
        }

        &:before {
            content: "";
            display: block;

            position: absolute;
            left: calc(5vw + 43px);
            top: 0;

            height: 100%;
            width: 1px;
            background-color: #e74c3c;

            z-index: 1;
        }

        &__item {
            position: static;
            z-index: 2;
        }

        &__info {
            position: relative;
            top: -50px;
            left: 200px;
            opacity: 1;
            visibility: visible;

            text-align: left;
        }

        &__info::before {
            display: none;
        }

        &__info .name{
            margin-bottom: 10px;
        }

        & .section__text--white {
            margin: 0 calc(5vw + 35px);
        }
    }
}

.clients {
    background-color: #f4f5f9;
    padding: 150px 0 110px;
    border-bottom: 1px solid #d8d9db;

    &__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        margin: 0 -15px;
    }

    &__item {
        position: relative;

        width: 210px;
        height: 100px;

        margin: 0 15px 30px;

        background-color: #fff;
        box-shadow: 1px 0 5px #e7e8ec;   
        
        transition: background-color .3s ease,
                    box-shadow .3s ease;
        text-decoration: none;
    }

    &__item:hover {
        // background-color: #e74c3c;
        box-shadow: 5px 0 12px #c0c1c4;
    }

    &__item:hover {
        box-shadow: 5px 0 12px #c0c1c4;
    }

    &__item:hover &__img {
        opacity: 1;
    }

    &__item &__img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);  
        
        opacity: .3;
        transition: opacity .3s ease;
    }

}

.blog {
    padding-top: 118px;

    &__inner {
        display: flex;
        flex-wrap: wrap;
    }
    
    &__item {
        width: 50%;
        min-height: 25vw;

        display: flex;
    }

    &__img {
        width: 50%;
        min-height: 25vw;

        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        order: 1;
    }

    &__info {
        width: 50%;
        padding: 70px 45px;

        background-color: #e74c3c;
        color: #fff;

        position: relative;
        order: 2;
    }

    &__suptitle {
        font-size: 14px;
        letter-spacing: .05em;

        margin-bottom: 25px;
    }

    &__title {
        font-family: 'source';
        font-weight: 600;
        font-size: 24px;
        text-transform: uppercase;
        letter-spacing: .05em;
        text-decoration: none;
        color: #fff;

        // margin-bottom: 70px;

        position: relative;
    }

    &__title:after {
        content: "";
        display: block;
        width: 44px;
        height: 4px;
        background-color: #fff;

        position: absolute;
        top: 40px;
        left: 0;
    }

    &__text {
        font-size: 16px;
        line-height: 30px;
        max-height: 150px;
        overflow: hidden;
        
        margin: 70px 0 50px;
    }

    &__link {
        font-style: italic;
        font-weight: 600;
        font-size: 18px;
        text-decoration: none;
        color: #fff;
    }

    &__link:hover {
        text-decoration: underline;
    }

    &__info:after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: -27px;

        transform: translate3d(0, -50%, 0);

        height: 72px;
        border-top: 36px solid transparent;
        border-bottom: 36px solid transparent;
        border-right: 28px solid #e74c3c;
    }    

    @media (min-width: 1280px) {
        &__item:nth-child(4n+3) &__info {
            order: 0;        
        }
        
        &__item:nth-child(4n+4) &__info {
            order: 0;
        }
    
        &__item:nth-child(4n+3) &__info:after {
            left: auto;
            right: -27px;
            transform: translate3d(0, -50%, 0) 
                       rotate(180deg);
        }
    
        &__item:nth-child(4n+4) &__info:after {
            right: -27px;
            left: auto;
            transform: translate3d(0, -50%, 0) 
                       rotate(180deg);
        }
    }

    @media (max-width: 1279px) {
        &__info {
            padding: 30px 20px;
        }

        &__item {
            width: 100%;
            height: 50vw;
        }

        &__img {
            width: 50%;
            height: 50vw;
        }

        &__title {
            font-size: 18px;
        }

        &__title::after {
            top: 35px;
        }

        &__text {
            font-size: 12px;
            margin: 25px 0 20px;
        }        
    }

    @media (min-width: 768px) and (max-width: 1279px) {s
        &__item:nth-child(even) &__info {
            order: 0;
        }
    
        &__item:nth-child(odd) &__info {
            order: 1;
        }

        &__item:nth-child(even) &__info:after {
            left: initial;
            right: -27px;
            transform: translate3d(0, -50%, 0) 
                       rotate(180deg);
        }
    
        &__item:nth-child(odd) &__info:after {
            right: initial;
            left: -27px;
            transform: translate3d(0, -50%, 0);
        }
    }

    @media (max-width: 767px) {
        &__item {
            height: 200vw;
            flex-direction: column;
        }

        &__info {
            width: 100%;
            height: 100vw;
        }

        &__img {
            width: 100%;
            height: 100vw;
        }

        &__info:after {
            top: -48px;
            left: 50%;
            right: initial;

            transform: translate3d(-50%, 0, 0)
                       rotate(90deg);

            height: 72px;
            border-top: 36px solid transparent;
            border-bottom: 36px solid transparent;
            border-right: 28px solid #e74c3c;
        }
    }
}

.contacts {
    padding: 150px 0;
    background: #f4f5f9;
    
    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__info {
        width: 39.749%;
        padding: 100px 90px 35px;

        background-color: #fff;
        box-shadow: 0px 1px 10px #dbdce0;
        border-radius: 2px;
    }

    &__title {
        font-feature-settings: 'source';
        font-size: 24px;
        font-weight: 600;
        color: #e74c3c;
        text-transform: uppercase;

        margin-bottom: 25px;
    }

    &__text {
        font-size: 18px;
        margin-bottom: 65px;
        line-height: 1.5;
    }

    &__phone p {
        line-height: 1.6;
    }

    &__form {
        width: 56.84%;
        padding: 95px;

        background-color: #fff;
        box-shadow: 0px 1px 10px #dbdce0;
        border-radius: 2px;
    }

    &__item {
        display: block;

        width: 475px;

        text-align: left;
        position: relative;
    }

    &__label {
        height: 14px;

        font-size: 14px;
        color: #999;

        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

        line-height: 58px;

        transition: font-size .3s ease,
                    line-height .3s ease;
    }

    &__label--focused {
        font-size: 12px;
        line-height: 20px;
    }

    &__input {
        width: 100%;
        height: 58px;
        border: none;
        border-bottom: 1px solid #e5e5e5;
           
        transition: border-bottom .3s ease;
        
        resize: none;
        font-family: 'open';
        font-size: 14px;
        font-weight: 600;
        color: #999;
    }

    &__item--textarea {
        margin-bottom: 30px;
        height: 140px;
    }

    &__input--textarea {
        display: block;
        height: 120px;

        position: absolute;
        bottom: 0;
    }

    &__input:focus {
        outline: none;
        border-bottom: 1px solid #000;
    }

    &__input.error {
        border-color: #e74c3c;
    }

    & label.error {
        display: block;
        font-size: 12px;
        color: #e74c3c;

        position: absolute;
        top: calc(100% + 2px);
    }


    @media (max-width: 1279px) {
        &__inner {
            flex-direction: column;
        }

        &__info {
            width: 100%;
            margin-bottom: 20px;
            padding: 70px 60px 30px;
        }

        &__form {
            width: 100%;
            padding: 60px;
        }

        &__title {
            font-size: 20px;
        }

        &__text {
            font-size: 14px;
        }
    }

    @media (max-width: 767px) {
        padding: 0x;

        &__info {
            width: 100%;
            padding: 50px 45px 18px;
        }

        &__title {
            font-size: 18px;
            margin-bottom: 10px;
        }

        &__text {
            font-size: 12px;
            margin-bottom: 30px;
        }

        &__form {
            padding: 45px;

            position: relative;
        }

        &__item {
            width: 100%;
        }
        
        &__input {
            font-size: 12px;
        }

        &__form--btn {
            position: relative;
            top: 0;;
            margin-left: 0 !important;
        }
    }
}

.trial {
    padding: 150px 0 140px;
    box-shadow: 3000px 3000px rgba(0, 0, 0, 0.6) inset;

    color: #fff;
    text-align: center;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__title {
        font-size: 36px;
        margin-bottom: 20px;
    }

    &__title span:first-child {
        font-weight: 400;
        margin-right: 10px;
    }

    &__text {
        margin-bottom: 67px;
        line-height: 1.2;
    }

    @media (max-width: 1279px) {
        padding: 100px 0 100px;  
    }

    @media (max-width: 767px) {
        padding: 50px 0 50px;

        &__title {
            font-size: 20px;
        }

        &__title span {
            display: block;
            line-height: 1.5;
        }

        &__text {
            margin-bottom: 30px;
        }
    }
}

.footer {
    background-color: #202020;
    display: flex;
    align-items: center;    
    

    &__inner {
        display: flex;        
        justify-content: space-between;
        align-items: center;
        
        padding: 30px 0;
    }

    &__social {
        
    }

    &__logo {
        text-decoration: none;
        color: #999;

        margin-right: 15px;
        
        transition: color .3s ease;

    }

    &__logo:last-child {
        margin-right: 0;
    }

    &__logo:hover {
        color: #e74c3c;
    }

    &__copyright {
        font-weight: 600;
        font-size: 14px;
    }

    @media (max-width: 767px) {
        padding: 20px;

        &__inner {
            flex-direction: column;
        }

        &__social {
            line-height: 30px;

            margin-bottom: 30px;
        }

        &__copyright {
            min-width: 50%;
            line-height: 1.5;
        }

        &__logo {
            font-size: 25px;
        }
    }
}




