@font-face {
    font-family: "opensans"; 
    src: url("../assets/fonts/OpenSans-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 400; 
    } 

@font-face {
    font-family: "opensans"; 
    src: url("../assets/fonts/OpenSans-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 700; 
} 

@font-face {
    font-family: "sourcesanspro"; 
    src: url("../assets/fonts/SourceSansPro-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 400; 
} 

*, 
*::before,
*::after {
    box-sizing: border-box;
}

/* *:focus {
    outline: 0;
} */

body {
    font-family: 'opensans';
    font-size: 15px;
    font-weight: 400;
    color: #999;    
    line-height: 1;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: transparent;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

/* NAV */
.nav {
    text-transform: uppercase;
    font-size: 14px;
}

.nav__link {
    position: relative;

    display: inline-block;
    vertical-align: top;
    margin: 0 30px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;

    transition: color .2s ease;
}

.nav__link:first-child {
    margin-left: 0;
}

.nav__link::after {
    position: absolute;
    top: 140%;
    left: 0;
    z-index: 1;

    width: 100%;
    height: 3px;
    content: "";
    display: block;

    background-color: #e74c3c;
    opacity: 0;
    transition: opacity .3s ease;
}

.nav__link:hover::after {
    opacity: 1;
}

.nav__link:hover {
    color: #e74c3c;
}

/* Intro */
.intro {
    width: 100%;
    min-height: 990px;
    padding-bottom: 225px;
    margin-bottom: 125px;

    display: flex;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;    
    
    position: relative;
    top: 0;
    left: 0;

    border: 0;
}

.intro:before,
.intro:after {
    content: "";
    position: absolute;   

    width: 50%;
    height: 125px;

    border-width: 125px;
    border-style: solid;
    border-color: transparent;
    z-index: 2;
}

.intro:before {
    bottom: 0;
    left: 0;

    border-left-width: 50vw;  
    border-left-color: #fff; 
    border-bottom: none ;   
    border-right: none; 
}

.intro:after {    
    bottom: 0;
    right: 0;

    border-right-width: 50vw;  
    border-right-color: #fff; 
    border-bottom: none ;   
    border-left: none; 
}

.intro__shadow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #061015;
    opacity: .7;
}

.intro__icon {
    position: absolute;
    bottom: -32px;
    left: 50%;

    transform: translateX(-50%);

    z-index: 3;
}

/* separator */
.separator {
    margin: 45px auto;
    height: 7px;
    width: 7px;
    border-radius: 30%;
    background-color: #e74c3c;
    position: relative;
}

.separator::before,
.separator::after {
    content: "";

    position: absolute;

    display: inline-block;    
    
    height: 1px;
    width: 80px;
    background-color: #f1ebe7;
}

.separator::before {
    left: -94px;
    top: 3px;
}

.separator::after {
    left: 21px;
    top: 3px;
}

.separator--dark {
    margin: 30px auto 65px;
}

.separator--dark:before,
.separator--dark:after {
    background-color: #999;
}

/* intro slider */
.slider--intro {
    width: 100%;
    margin: 0 auto;
    padding-top: 325px;
    position: relative;

    text-align: center;
    z-index: 2;
    color: #f4f5f9;
}

.slider__title--intro {
    font-family: 'opensans';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 72px;
    line-height: 1;
    letter-spacing: .1em;
}

.slider__suptitle--intro {
    font-family: 'sourcesanspro';
    font-weight: 400;
    font-size: 24px;  
    
    margin-bottom: 45px;
}

.slider__text--intro {
    max-width: 600px;

    font-size: 14px;
    color: #cbc6c0;
    margin: 0 auto 65px;
    line-height: 1.6;
}

/* Button */
.btn {
    display: inline-block;
    vertical-align: top;
    
    background: transparent;
    border: 1px solid #fff;
    border-radius: 2px;
    cursor: pointer;

    width: auto;
    min-width: 225px;
    padding: 20px 45px;
    margin-right: 30px;

    font-weight: 700;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;

    z-index: 2;

    transition: background .3s ease,
                border .3s ease;
}

.btn:last-child {
    margin-right: 0;
}

.btn:hover {
    background: #e74c3b;
    border: 1px solid #e74c3b;
}

.btn--red {
    background: #e74c3b;
    border: 1px solid #e74c3b;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #999;
}

.btn--red:hover {
    background: transparent;
    color: #e74c3b;
}

/* Features */
.features {
    border-bottom: 1px solid #e6e7eb;
    margin-bottom: ;
}

.features__inner {
    display: flex;
    justify-content: space-between;
    padding-bottom: 110px;
}

.features__item {
    display: inline-block;
    text-align: center;
    padding-top: 100px;

    width: 23.75%;

    position: relative;

    cursor: pointer;
}

.features__img {
    height: 71px;
    width: 71px;
    display: block;

    position: absolute;
    top: 0;
    left: calc(50% - 35px);
    
    border: 1px solid #e5e5e5;
    background: transparent;
    z-index: 2;

    transition: border .3s ease,
                transform .3s ease;
}

.features__item:hover .features__img {
    border: 1px solid #ea6558;
    transform: rotate(45deg);

    transform-origin: center center;
}

.features__icon {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    height: 71px;
    width: 71px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    z-index: 1;
}

.features__title {
    font-weight: 600;
    text-transform: uppercase;
    color: #6a6a6a;
    font-size: 18px;
    line-height: 1;

    position: relative;
    margin-bottom: 35px;
    
    transition: color .3s ease;
}

.features__item:hover .features__title {
    color: #e74c3c;
}

.features__title::after {
    content: "";
    position: absolute;
    top: 35px;
    left: calc(50% - 20px);

    display: block;

    width: 41px;
    height: 1px;
    background-color: #888;

    box-shadow: 0 1px 0 #e1e1e1;
}

.features__text {
    color: #999;
    font-size: 12px;
    line-height: 1.6;
}

/* Section */
.section {
    margin-top: 140px;
    display: flex;
    min-height: 410px;
}

.section__img {
    width: 50%;    
    
    background-position: left top;
    background-repeat: no-repeat;
    background-size: auto;
}

.section__block {
    width: 50%;
    position: relative;
}

.section__title {
    font-weight: 700;
    text-transform: uppercase;
    color: #6a6a6a;
    font-size: 36px;
    line-height: 1;
    text-align: center;

    margin-bottom: 25px;

    position: relative;
    top: 0;
    left: 0;
}

.section__title--history {
    left: 35px;
    margin-bottom: 45px;
    text-align: left;
}

.section__title--history:before {
    content: "";
    width: 6px;
    height: 36px;

    position: absolute;
    top: 0;
    left: -36px;

    background-color: #e74c3c;
}

.section__text {
    font-family: 'sourcesanspro';
    font-size: 14px;
    line-height: 2;
    text-align: center;
}

.section__text--history {
    text-align: left;
}

.section__text p {
    margin-bottom: 35px;
}

/* Services */
.services {
    padding-top: 150px;
}




/* Recent Works */
.section.works {
    display: block;
}

.works .container {
    text-align: center;
}

.works .slider__text--intro {
    margin-bottom: 30px;
}


.menu {
    font-size: 14px;
    color: #999;
    text-transform: uppercase;
}

.menu__item  {
    display: inline-block;
    position: relative;
    margin-left: 15px;

    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    color: #999;

    transition: color .2s ease;
}

.menu__item:hover {
    color: #e74c3c;
}

.menu__item:after {
    content: "/";
    margin-left: 15px;
}

.menu__item:hover::after {
    color: #999;
}

.menu__item:last-child::after {
    display: none;
}

.menu__item:last-child::after {
    margin-left: 0;
}

.works__inner {
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
}

.works__item {
    background-color: #ec7063;
    position: relative;
    color: #fff;

    width: 25%;   
    height: 25vw;
}

.works__img {   
    width: 100%;
    height: 100%;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
    opacity: 1;
    
    transition: opacity .2s ease;
}

.works__item:hover .works__img {
    opacity: 0.2;
}

.works__info {
    position: absolute;
    top: 79%;
    left: 10%;
}

.works__title {
    font-family: 'sourcesanspro';
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .1em;
    line-height: 1;
    margin-bottom: 20px;
}

.works__title:after {
    content: "";
    display: block;
    position: relative;
    top: -70px;
    left: 0;

    width: 44px;
    height: 4px;

    background-color: #fff;
}

.works__text {
    font-size: 14px;
    line-height: 1;
}

/* Study */
.study {
    background-color: #f4f5f9;
    padding: 150px 0;
}

.study__inner {
    display: flex;
    align-items: center;
    position: relative;
}

.study__img {
    width: 50%;
    height: 725px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    position: relative;
    top: 0;
    left: 50%;
}

.study__block {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    width: 665px;
    min-height: 630px;
    padding: 80px 65px 115px;
    background-color: #fff;
    z-index: 2;

    text-align: center;

    box-shadow: 1px 1px 2px #000;
}

.study__redsquare {
    display: block;
    height: 90px;
    width: 90px;
    transform: rotate(45deg);
    transform-origin: center center;

    background-color: #e74c3c;
    border: 1px solid #e74c3c;
    
    margin: 0 auto 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.study__icon {
    height: 35px;
    width: 35px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;

    transform: rotate(-45deg); 
}

.study__title {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: .1em;
    color: #6a6a6a;
    position: relative;

    margin-bottom: 60px;
}

.study__title:after {
    content: "";
    position: absolute;
    top: 60px;
    left: calc(50% - 20px);

    display: block;

    width: 41px;
    height: 1px;
    background-color: #888;

    box-shadow: 0 1px 0 #e1e1e1;
}

.study__text {
    font-family: 'sourcesanspro';
    font-weight: 400;
    font-size: 14px;
    color: #999;
    line-height: 1.7;

    margin-bottom: 50px;
}

/* Stats */
.stats {
    min-height: 520px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
    padding-top: 155px;
}

.stats__shadow {
    width: 100%;
    height: 100%; 

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #061015;
    opacity: .3;

    z-index: 1;
}

.stats__inner {
    display: flex;
    position: relative;
    z-index: 2;

    justify-content: center;
    flex-wrap: wrap;

    margin: 0 -50px;
}

.stats__item {
    text-align: center;
    font-family: 'sourcesanspro';

    cursor: pointer;
    text-decoration: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 66px 140px;
}

/* .stats__item:first-child {
    margin-left: 0;
} */

/* .stats__item:last-child {
    margin-right: 0;
} */

.stats__circle {
    height: 110px;
    width: 110px;
    border: 1px solid #fff;
    border-radius: 50%;    

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 50px;
    transition: background-color .3s ease;
}

.stats__icon {
    width: 33px;
    height: 33px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.stats__count {    
    font-weight: 700;
    color: #fff;
    font-size: 30px;

    margin-bottom: 15px;
    text-transform: uppercase;
}

.stats__text {
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
}

.stats__item:hover .stats__circle {
    background-color: #e74c3c;
}