/* @font-face {
    font-family: 'Kaushan Script', cursive;
    src: url("../assets/fonts/KaushanScript-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url("../assets/fonts/Montserrat-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url("../assets/fonts/Montserrat-Bold.ttf");
    font-weight: 700;
} */

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #333;    
    line-height: 1.6;
}

*, 
*::before,
*::after {
    box-sizing: border-box;
}

*:focus {
    outline: 0;
}

hr {
    display: block;
    width: 100%;
    height: 1px;
    border: 0;
    background-color: #e5e5e5;
    margin: 40px 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;   
    padding: 0 15px; 
}

.page {
    overflow: hidden;
}

/* Header */

.header {
    width: 100%;
    /* height: 100px; */

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: transparent;
    transform: translateY(0%);
    transition: background-color 0.3s ease 0s,
                transform 0.3s ease 0s;
}

.header.fixed {
    height: auto;
    position: fixed;
    background-color: #e78382;
}

.header.hidden {
    transform: translateY(-100%);
}

.header.noanim,
.header.noanim * {
    transition: none !important;
}

.header.fixed .header__inner {
    padding-top: 15px;
    padding-bottom: 15px;
    /* border-bottom: 0; */
    border-bottom-color: transparent;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0;
    transition: padding 0.3s ease 0s,
                border-bottom-color 0.3s ease 0s;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
}

/* Nav */

.nav {
    text-transform: uppercase;    
    font-size: 14px;
}

.nav__link {
    position: relative;

    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;

    transition: color .2s ease;
}

.nav__link::after {
    position: absolute;
    top: 140%;
    left: 0;
    z-index: 1;

    width: 100%;
    height: 3px;
    content: "";
    display: block;

    background-color: #fce38a;
    opacity: 0;
    transition: opacity .3s ease;
}

.nav__link:first-child {
    margin-left: 0;
}

.nav__link:hover {
    color: #fce38a;
}

.nav__link:hover::after,
.nav__link.active:after {
    opacity: 1;
}

.nav__link.active {
    color: #fce38a;
}

/* Nav toggle */
.burger {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 9px 2px;
}

.burger__item {
    display: block;
    width: 30px;
    height: 3px;

    background-color: #fff;

    font-size: 0;
    color: transparent;

    position: relative;

    transition: background-color 0s ease 0.2s;
}

.burger__item:before,
.burger__item:after {
    content: "";
    height: 100%;

    background-color: #fff;

    position: absolute;
    right: 0;
    z-index: 1;
}

.burger__item:before {
    width: 30px;
    top: -8px;
    transform-origin: top right;
    transition: top .2s ease .5s,
                transform .5s ease 0s;
                
}

.burger__item:after {
    width: 30px;
    bottom: -8px;
    transform-origin: bottom right;
    transition: bottom .2s ease .5s,
                transform .5s ease 0s;
                
}

.burger.is-open .burger__item {
    background-color: transparent;
    transition: background-color 0s ease 0.4s;
}
.burger.is-open .burger__item::before {
    top: 0;
    width: 30px;
    transform: rotate(-45deg);
    transform-origin: top right;
    transition: top 0.2s ease 0.2s,
                transform 0.2s ease 0.4s;
}
.burger.is-open .burger__item::after {
    bottom: 0;
    width: 30px;
    transform: rotate(45deg);
    transform-origin: bottom right;
    transition: bottom 0.2s ease 0.2s,
                transform 0.2s ease 0.4s;
}

/* Intro */

.intro {
    width: 100%;
    height: 100vh;
    min-height: 820px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    
    background-image: url("../assets/images/inhtml/intro.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #edb788;
}

.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
}

.intro__suptitle {
    font-family: 'Kaushan Script', cursive;
    color: #fff;
    font-size: 72px;

    margin-bottom: 50px;
}

.intro__title {
    color: #fff;
    font-size: 150px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: .93;
}

.intro__title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #fff;
    margin: 60px auto;
}

/* Button */

.btn {
    display: inline-block;
    vertical-align: top;
    width: auto;
    padding: 12px 30px;
    border: 3px solid #fff;

    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;

    transition: background-color .3s ease, color .3s ease;
}

.btn:hover {
    background-color: #fff;
    color: #edb788;    
}

/* Slider */

.slider {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.slider__inner {
    display: flex;
    justify-content: space-between;
}

.slider__item {
    width: 23%;
    padding: 20px 0;
    position: relative;

    border-top: 3px solid #fff;
    opacity: .7;
    
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}

.slider__item.active {
    opacity: 1;
}

.slider__item.active:before {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;
    background-color: #f38181;
}

.slider__num {
    font-size: 24px;
    font-weight: 700;
}

/* Section */

.section {
    padding: 40px 0;
}

.section--devices {
    margin-bottom: 40px;    
    padding-bottom: 0;    

    background-image: url("../assets/images/inhtml/devices-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section--clients {
    background-image: url("../assets/images/inhtml/clients-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f5f5f5;
}

.section--gray {
    background-color: #f8f8f8;
}

.section--map {
    background-color: #e6e6e6;
    background-image: url("../assets/images/inhtml/map-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f5f5f5;

    padding: 40px 0;
}

.section__header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 55px;
    text-align: center;
}

.section__suptitle {
    font-size: 24px;
    color: #333;
    font-family: 'Kaushan Script', cursive;
}

.section__title {
    font-size: 30px;
    color: #333;
    font-weight: 700;
    text-transform: uppercase;
}

.section__title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 40px auto 50px;

    background-color: #f38181;
}

.section__text {
    font-size: 15px;
    color: #999;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 100px;
}



/* Card */

.card {
    margin: 80px -15px 0;
    display: flex;
    justify-content: space-between;   
    flex-wrap: wrap;
}

.card__inner {
    position: relative;
    background-color: #95e1d3;
}

.card__item {
    width: 33.33333%;
    padding: 0 15px;
}

.card--about {
    cursor: pointer;
}

.card__inner:hover .card__img {
    transform: translate3d(-10px, -10px, 0);
}

.card__inner:hover .card__img img {
    opacity: .1;
}

.card__inner:hover .card__text {
    opacity: 1;
}

.card__img {
    background-image: linear-gradient(to bottom, #f38181, #fce38a);
    transition: transform .2s ease;

}

.card__img img {
    transition: opacity .1s linear;
    display: block;
    max-width: 100%;
    height: auto;
}

.card__text {
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity .2s ease;
}

.card__info {
    margin-top: 20px;
    text-align: center;
}

.card__name {
    margin-bottom: 5px;
    text-transform: uppercase;
    color: #333;
    font-size: 14px;
}

.card__prof {
    font-family: 'Roboto', sans-serif;
    color: #999;
    font-style: italic;
    font-size: 15px;
    font-weight: 300;
}

/* Stats */

.statistics {
    background-color: #95e1d3;
}

.stat {
    display: flex;
    flex-wrap: wrap;
}

.stat__item {
    flex: 1 1 0;
    border-left: 1px solid #b5eae0;

    text-align: center;
    color: #fff;

    padding: 90px 25px;
}

.stat__item:last-child {
    border-right: 1px solid #b5eae0;
}

.stat__count {
    font-size: 72px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 30px;
}

.stat__text {
    font-size: 14px;
    text-transform: uppercase;
}

/* Services */

.services {
    display: flex;
    flex-wrap: wrap;
}

.services__item {
    width: 33.33333%;
    position: relative;

    padding: 0 35px 40px 85px;

    margin-bottom: 40px;
}

.services__item--border {
    border-bottom: 1px solid #e5e5e5;
}

.services__icon {
    position: absolute;
    top: 2px;
    left: 28px;
    z-index: 1;
}

.services__title {
    
    margin-bottom: 10px;
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

.services__text {
    font-size: 15px;
    color: #999;
    font-family: 'Roboto', sans-serif;
}

/* Devices */

.devices {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}

.devices__item {
    display: block;
    max-width: 100%;
    height: auto;
}

.devices__item--iphone {
    position: absolute;
    bottom: -85px;
    right: 0px;
    z-index: 1;
}

/* WeDo */

.wedo {
    display: flex;
    margin: 0 -15px;
    flex-wrap: wrap;
}

.wedo__item {
    width: 50%;
    padding: 0 15px;
}

.wedo__img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Accordion */ 

.accordion {

}

.accordion__item {
    border: 1px solid #999;
    margin-bottom: 10px;
}

.accordion__item.active 
.accordion__content {
    display: block;
}

.accordion__item.active 
.accordion__header::after {
    transform: translateY(-50%) rotate(-45deg);
    margin-top: 5px;
}

.accordion__item.active 
.accordion__header {
    border-bottom-color: #e5e5e5;
}

.accordion__header {
    padding: 15px 20px 15px 65px;
    position: relative;

    border: 1px solid transparent;
    cursor: pointer;
}

/* Arrow */
.accordion__header::after {
    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 1;

    content: "";
    display: block;
    width: 16px;
    height: 16px;

    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;

    transform: translateY(-50%) rotate(135deg);
}

.accordion__icon {
    position: absolute;
    top: 50%;
    left: 20px;
    z-index: 1;

    transform: translateY(-50%);
}

.accordion__content {
    padding: 15px 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    color: #999;
    line-height: 1.6;

    display: none;
}

.accordion__title {
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

/* Reviews */

.reviews {
    /* padding: 0 110px; */
    position: relative;
}

.reviews .slick-slider {
    padding: 0 110px;
}

.reviews__item {
    min-height: 210px;
    position: relative;
    padding-left: 255px;

}

.reviews__photo {
    width: 210px;
    height: 210px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
}


.reviews__text {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-style: italic;
    font-weight: 300;
    color: #999;
    line-height: 1.5;

    margin-bottom: 15px;
 
}

.reviews__author {
    font-size: 24px;
    color: #000;
    font-family: 'Kaushan Script', cursive;
}

.reviews__author::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin-right: 10px;
}


.slick-arrow {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
    border: 0;
    background: 0;
    font-size: 0;
    color: transparent;
}

.slick-arrow::after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;

    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;   
}


.slick-prev {
    left: 0;
    transform: rotate(-45deg);
}


.slick-next {
    right: 0;
    transform: rotate(135deg);
}

/* Social */

.social {
    display: flex;
    justify-content: center;
}

.social__item {
    width: 55px;
    height: 55px;
    background-color: #fce38a;
    border-right: 1px solid #f38181;
    font-size: 30px;
    
    text-decoration: none;
    color: #f38181;
    line-height: 1;

    padding: 12px;
    transition: background-color .2s ease, color .1s ease;
}

.social__item:last-child {
    border-right: 0;
}

.social__item:hover {
    background-color: #f38181;
    color: #fff;
} 

/* Logos */

.logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 -15px;
}

.logos__item {
    padding: 0 15px;
}

.logos__img {
    display: block;
    max-width: ;: 100%;
    height: auto;
}

/* Works */

.works {
    display: flex;
}

.works__col {
    flex: 1 1 0;
}

.works__item {
    position: relative;
    background-image: linear-gradient(to bottom, 
    #f38181, #fce38a);
    cursor: pointer;
    text-decoration: none;
    display: block;
}

.works__item:hover .works__img {
    opacity: .1;
}

.works__item:hover .works__info {
    opacity: 1;
}

.works__img {
    display: block;
    transition: opacity .2s ease;
    max-width: 100%;
    height: auto;
}

.works__info {
    opacity: 0;

    width: 100%;
    padding: 0 15px;

    position: absolute;
    text-align: center;
    color: #fff;

    top: 50%;
    left: 0;
    transform: translate3d(0, -50%, 0);
    transition: opacity .2s ease;
}

.works__title {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    /* margin-bottom: 5px; */
}

.works__text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    line-height: 1.6;
}

/* Clients */

.clients {
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
}

.clients__item {
    width: 50%;
    padding: 0 45px 0 175px;
    position: relative;
    margin-bottom: 60px;
}

.clients__photo {
    width: 110px;
    height: 110px;

    border-radius: 50%;

    position: absolute;
    top: 0;
    left: 40px;
    z-index: 1;
}

.clients__name {
    color: #333;
    font-size: 14px;
    text-transform: uppercase;
}

.clients__prof {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    line-height: 1.6;
}

.clients__text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.6;
    color: #999;
}

.clients__text:before {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;

    margin: 15px 0;
}

/* Blog */

.blog {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.blog__item {
    width: 31%;
}

.blog__header {
    position: relative;
    margin-bottom: 15px;
}

.blog__photo {
    display: block;
    max-width: 100%;
    height: auto;
}

.blog__date {
    position: absolute;
    bottom: 10px;
    left: -10px;
    z-index: 1;

    padding: 10px 20px;
    text-align: center;
    
    background-color: #95e1d3;

    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: #fff;
    font-size: 15px; 
    font-weight: 300;   
}

.blog__date-day {
    font-size: 30px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    line-height: 1;
}

.blog__content {
    margin-bottom: 14px;
}

.blog__title {
    margin-bottom: 10px;
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

.blog__text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #999;
}

.blog__title a {
    color: inherit;
    text-decoration: none;
}

.blog__title a:hover {
    text-decoration: underline;
}

.blog__footer {
    border-top: 1px solid #e5e5e5;
    padding-top: 14px;

    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    color: #999;
}

.blog-stat__item {
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;    
}

.blog-stat__item i {
    color: #95e1d3;
    margin-right: 3px;
}

/* Map */

.map {
    text-align: center;
}

.map__title {    
    color: #f38181;
    font-size: 24px;
    font-weight: 700;
}

.map__title a {
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
}

.map__title a:hover {
    text-decoration: underline;
}

.map__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;

    margin: 15px auto;
}

/* Footer */

.footer {
    padding-top: 65px;
    background-color: #f8f8f8;
}

.footer__inner {
    margin: 0 -15px;
    padding-bottom: 65px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer__col {
    padding: 0 15px;
}

.footer__col--first {
    width: 40%;
}

.footer__col--second {
    width: 29%;
}

.footer__col--third {
    width: 22.5%;
}

.footer__logo {
    color: #ccc;
    font-size: 46px;
    font-weight: 700;

    margin-bottom: 30px;
}

.footer__text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color:#999;

    margin-bottom: 30px;
}

.footer__social {
    margin-bottom: 25px;
}

.footer__social-header {
    font-size: 14px;
    color: #333;
    border-bottom: 1px solid #e5e5e5; 
    padding-bottom: 15px;
}

.footer__social b {
    font-size: 18px;
}

.footer__social-content {
    padding-top: 15px;

    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 15px;
    color:#999;
}

.footer__social-content a {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;

    text-decoration: none;
    color: #95e1d3;
    font-size: 18px;
}

.footer__title {
    text-transform: uppercase;
    color: #333;
    font-size: 14px;

    margin-bottom: 30px;
    margin-top: 30px;
}

/* Form */

.subscribe {
    width: 100%;
    max-width: 380px;
    display: flex;
}

.subscribe__input {
    width: 60%;

    background-color: #fff;
    border: 1px solid #e7e7e7;
    border-right: 0;
    
    
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 15px;
    color:#333;
    
    height: 40px;
    padding: 12px;
}

.subscribe__input:focus {
    border: 1px solid #95e1d3;
}

.subscribe__input::placeholder {
    color: #ccc;
}

.subscribe__btn {
    width: 40%;
    height: 40px;
    padding: 0 35px;

    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    
    background-color: #95e1d3;
    border: 0;
    cursor: pointer;
    transition: background .2s ease;
}

.subscribe__btn:hover {
    background-color: #74c7b8;
}

/* Blogs */

.blogs__item {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}

.blogs__img  {
    width: 120px;
    height: 80px;
}

.blogs__content {
    padding-left: 20px;
}

.blogs__title {
    font-size: 12px;
    color: #333;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1.5;
    display: block;
    margin-bottom: 5px;
}

.blogs__title:hover {
    text-decoration: underline;
}

.blogs__date {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 13px;
    color:#ccc;
}

/* Instagram */

.insta {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.insta__item {
    width: 33%;
    border-bottom: 1px solid #fff;
}

.insta__item img {
    display: block;
    max-width: 100%;
    height: auto;
}

.insta__more {
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 13px;
    color:#ccc;
    text-decoration: none;
}

.insta__more:hover {
    text-decoration: underline;
}

/* copyright */

.copyright {
    padding: 20px 0;
    border-top: 1px solid #e5e5e5;
    text-align: center;
    color: #333;
    font-size: 14px;
}

.copyright a {
    color: #f38181;
    text-decoration: none;
}

.copyright a:hover {
    text-decoration: underline;
}

/* Adaptive */

@media (min-width: 991px) {
    .nav {
        display: block !important;
    }
}


@media (max-width: 1230px) {
    /* !!!! */
    .logos {
        /* display: none; */
    }


    /* Intro */
    .intro__title {
        font-size: 120px;
    }

    .intro__suptitle {
        font-size: 52px;
    }

    /* Reviews */
    .reviews__text {
        font-size: 20px;
    }

    /* Logos */
    .logos {
        /* flex-wrap: wrap; */
        justify-content: center;
        /* max-width: 16.6666%; */
    }

}


@media (max-width: 990px) {
    /* Intro */
    .intro__title {
        font-size: 80px;
    }

    .intro__suptitle {
        font-size: 32px;
    }

    /* Stat */
    .stat {
        justify-content: center;
    }
    .stat__item {
        flex: none;
        width: 33%;

        padding-top: 30px;
        padding-bottom: 30px;

        border: 0;
    }

    .stat__item:last-child {
        border-right: 0;
    }

    /* Services */
    .services__item {
        width: 50%;
    }

    .services__item--border {
        border-bottom: 0;
    }

     /* Reviews */
    .reviews .slick-slider {
        padding: 0 60px;
    }

    .reviews__photo {
        width: 150px;
        height: 150px;
    }

    .reviews__item {
        padding-left: 175px;
    }

    /* Clients */ 
    .clients {
        max-width: 600px;
        margin: 0 auto;
    }

    .clients__item {
        width: 100%;
        padding-right: 0;
    }

    .clients__item:last-child {
        margin-bottom: 0;
    }

    /* Footer */
    .footer__col--first {
        width: 100%;
    }

    .footer__col--second,
    .footer__col--third {
        width: 50%;
    }

    /* Instagram */
    .insta {
        justify-content: flex-start;
    }

    .insta__item {
        width: auto;
        border-right: 1px solid #fff;
    }

    .nav {
        display: none;
        width: 100%;
        flex-direction: column;

        background-color: #edb788;
        text-align: right;

        position: absolute;
        right: 0;
        top: 100%;       
    }

    .nav.js-nav-show {
        display: flex;
    }

    .nav__link {
        display: block;
        padding: 9px 15px;
    }

    .burger {
        display: block;
    }
}

@media (max-width: 767px) {
    /* Intro */
    .intro {
        min-height: 650px;
    }

    /* Header */
    .header {
        padding: 10px 0;
    }

    /* Nav */
    .nav {
        display: none;
        /* width: 100%; */

        position: absolute;
        top: 100%;
        right: 0;
        background-color: #eb8b8d;
    }

    .nav__link {
        display: block;
        margin: 0;
        padding: 8px 20px;
    }

    .nav__link::after {
        top: 100%;
    }

    .nav-toggle {
        display: block;
    }

    /* Section */
    .section {
        padding: 40px 0;
    }

    .section--devices {
        padding-bottom: 0;
    }

    /* Slider */
    .slider__text {
        font-size: 14px;
    }

    .slider__item.active::before {
        width: 50%;
    }

    /* Card */
    .card {
        margin-top: 50px;
        justify-content: center;
    }

    .card__item {
        width: 100%;
        max-width: 410px;
        margin-bottom: 30px;
    }

    .card__item:last-child {
        margin-bottom: 0;
    }

     /* Services */
    .services {
        justify-content: center;
    }

    .services__item {
        width: 100%;
        max-width: 400px;
        padding-right: 0;
    }

    /* Devices */

    /* Wedo */
    .wedo__img {
        display: none;
    }

    .wedo__item {
        width: 100%;
    }

    /* Reviews */

    .reviews__photo {
        position: static;
        margin: 0 auto 20px;
    }

    .reviews__item {
        padding-left: 0;
    }

    .reviews__text {
        font-size: 16px;
    }

    .reviews__author {
        font-size: 20px;
    }

    /* Works */
    .works {
        flex-wrap: wrap;
    }

    .works__col {
        flex: none;
        width: 50%;
    }

    /* Blog */   
    .blog {
        max-width: 380px;
        margin: 0 auto;
    } 

    .blog__item {
        width: 100%;
        margin-bottom: 30px;
    }

    .blog__item:last-child {
        margin-bottom: 0;
    }

    /* Footer */
    .footer__col--first {
        width: 100%;
    }

    .footer__col--second,
    .footer__col--third {
        width: 100%;
    }
}

@media (max-width: 575px) {
    /* Intro */

    .intro__title {
        font-size: 40px;
    }

    .intro__suptitle {
        font-size: 22px;
    }

     /* Section */
    .section__header {
        margin-bottom: 50px;
    }

    .section__title {
        font-size: 24px;
    }

    .section__suptitle {
        font-size: 20px;
    }

    .section__title::after {
        margin: 20px auto;
    }

    /* Slider */
    .slider__text {
        display: none;
    }

    /* Stat */
    .stat__item {
        width: 100%;
        border-bottom: 1px solid #b5eae0;
    }

    .stat__item:last-child {
        border-bottom: 0;
    }

    .stat__count {
        font-size: 52px;
    }

    /* Devices */
    .devices {
        max-width: 320px;
    }

    .devices__item--iphone {
        width: 180px;
        bottom: -50px;
        right: -20px;
    }

    /* Reviews */
    .reviews {
        padding: 0;
    }

    .reviews__btn {
        top: 18%;
    }

    /* Logos */

    .logos {
        flex-wrap: wrap;
        justify-content: center;
    }

    .logos__item {
        width: 50%;
        margin-bottom: 20px;
    }

    .logos__img {
        margin: 0 auto;
    }

    /* Works */

    .works__col {
        flex: none;
        width: 100%;
    }

    /* Clients */ 
    .clients__photo {
        position: static;
    }

    .clients__item {
        padding-left: 0;
        text-align: center;
    }

    .clients__text::before {
        margin: 15px auto;
    }

    /* Subscribe */
    .subscribe {
        flex-wrap: wrap;
        max-width: none;
    }

    .subscribe__input {
        margin-bottom: 10px;
        border-right: 1px solid #e7e7e7;
    }

    .subscribe__input,
    .subscribe__btn {
        width: 100%;
    }

    /* Blogs */
    .blogs__img {
        width: 80px;
        height: 50px;
    }

    .blogs__title {
        font-size: 10px;
    }
} 